body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-header {
  display: flex;
  background-color: rgb(27, 116, 116);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
}

/*NAV BAR*/
h1 {
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(104, 184, 184);
  top: 0;
  width: 100%;
  height: 47px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.icon
{
  float:right;
}

li a:hover {
  background-color: rgb(54, 83, 161);
}

li#carro a:hover {
  background-color:rgb(54, 83, 161);
}

.active {
  background-color: rgb(33, 53, 109);
}
/*FIN DEL NAVBAR*/

/*FOOTER*/
footer {
  background-color: rgb(27, 116, 116);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  right: 0;
}

#copy{
  text-align: center;
}
/*FIN DEL FOOTER*/

h3{
  text-align: center;
}