body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(226, 221, 221)!important;
}

#main-header {
  display: flex;
  background-color: rgb(27, 116, 116);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
}

.margenArriba
{
  margin-top: 30px;
}

/*NAV BAR*/
h1 {
  color: black;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(104, 184, 184);
  top: 0;
  width: 100%;
  height: 47px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.icon
{
  float:right;
}

li a:hover {
  color: black;
  background-color: rgb(54, 83, 161);
}

li#carro a:hover {
  color: black;
  background-color:rgb(54, 83, 161);
}

.active {
  background-color: rgb(33, 53, 109);
}
/*FIN DEL NAVBAR*/

/*FOOTER*/
footer {
  background-color: rgb(27, 116, 116);
  margin-top: 55px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  right: 0;
}

#copy{
  text-align: center;
}
/*FIN DEL FOOTER*/

h3{
  text-align: center;
}

/*CONTADOR*/
#contador{
  margin-top: 20px;
}
/*FIN DEL CONTADOR*/

/*CARDS DE LOS JUEGOS EN EL INDEX*/
.margenTopCards
{
  margin-top: 25px;
}

.margenBottom
{
  margin-bottom: 30px;
}

.centrado
{
  text-align: center;
}

.imgItem
{
  display:block;
  margin:auto;
  height:250px;
  width:350px;
}

.btn {
  border: none;
  margin:auto;
  display: block !important;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btnComprar {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.info {
  color: rgb(27, 116, 116);
}

.info:hover {
  background: rgb(27, 116, 116);
  color: white;
}

.sinEfecto
{
  color: black;
  text-decoration: none;
}

.sinEfecto:hover
{
  color: black;
}
/*FIN DE LOS CARDS DE LOS JUEGOS EN EL INDEX*/

/*DETAILS*/

.imgDetails
{
  height:350px;
  width:550px;
}

.fuente
{
  font-size: 20px;
}

/*FIN DE DETAILS*/

/*CARRO DE COMPRAS*/
.mgDer
{
  margin-top: 35px;
  padding-right: 40px;
  width: 175px;
}

.mgDerImg
{
  margin-top: 35px;
  width: 175px;
  padding-right: 175px;
}

.imgJuego
{
  height: 110px;
  width: 175px;
}

.centrado2
{
  text-align: center;
}

.tablas
{
  text-align: center;
  margin-left: 50px;
}

.divVaciar
{
  margin-top: 70px;
  text-align: center;
}

.fuente2
{
  font-size: 30px;
}

.topMargen
{
  margin-top: 25px;
}

/*FIN CARRO DE COMPRAS*/